{% extends "base.html" %}
{% block title %}키워드 검색{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/keyword.css" %}{% endblock %}

{% block content %}
<div class="content">
    <h1>키워드 검색</h1>
    <form action="" method="get">
        <table border="1" width="60%">
            <tr>
                <td><label for="keyword">검색어</label></td>
                <td><input id="keyword" type="text" name="keyword" value="{{ keyword }}">
                    <p>요금제명을 입력하여 검색하세요.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="reset" value="검색조건 초기화">
                    <input class="button" type="submit" value="검색">
                </td>
            </tr>
        </table>

    </form>

    <p>총 {{count}}건의 검색 결과가 있습니다.</p>
    <hr/>

    {% for plan in plans%}
    <table>
        <tr>
			<th><a href="{% url 'epost:detail' pk=plan.id %}">{{plan.calling_plan}}</a></th>
        </tr>
        <tr>
            <td>데이터 {{plan.data_category}}MB/{{plan.data_unit}}({{plan.data2}})</td>
            <td>음성   {{plan.call}}{{plan.call_unit}}</td>
            <td>문자   {{plan.message}}{{plan.message_unit}}</td>
        </tr>
        <tr>
            <td colspan="3">월 {{plan.pay}} 원</td>
        </tr>
    </table>
    {% endfor %}

</div>
{% endblock %}