<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body>
<h1>조건 검색</h1>
    <!--<form action="{% url 'epost:listing' %}" method="post">-->
	<form action="{% url 'epost:listing' %}" method="get">
		<!--{% csrf_token %}-->
		<!--<p>{{form.mobile_carrier}}</p>-->
		<!--<p>{{form.category}}</p>-->
		<!--<p>{{form.data_speed}}</p>-->
		<!--{{form.as_table}}-->

		<div class="col">
			<p><strong>Checkbox</strong></p>
			<div class="btn-group-toggle" data-toggle="buttons">
				<!--<label class="btn btn-primary">-->
					<!--<input type="checkbox"> Checkbox-->
				<!--</label>-->
			</div>
			<p><strong>Radio Button</strong></p>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-danger">
					<input type="radio" name="mobile_carrier" id="jb-radio-1" value="LGU+">LGU+
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="mobile_carrier" id="jb-radio-2" value="SKT">SKT
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="mobile_carrier" id="jb-radio-3" value="KT">KT
				</label>
			</div>

			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-danger">
					<input type="radio" name="category" value="usim">usim
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="category" value="tablet">tablet
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="category" value="phone">phone
				</label>
			</div>

			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-danger">
					<input type="radio" name="data_speed" value="LTE">LTE
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="data_speed" value="3G">3G
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="data_speed" value="5G">5G
				</label>
			</div>
		</div>
		<input type="submit" value="검색">
    </form>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>