{% extends "base.html" %}
{% block title %}조건별 검색{% endblock %}
{% block extra_body %}
<style>
   .btn{
		font-weight: bold;
		display: inline-block;
		width: 136px;
		height: 42px;
		line-height: 42px;
		border: 1px solid #ccc;
		border-radius: 3px;
		font-size: 15px;
		text-align: center;
		background: #f5f5f5;
   }
	.btn:hover{
		color: #fff;
		font-weight: bold;
		background: #2e65c2;
		text-decoration: none;
	}
	label.active, label.focus{
		color: #fff;
		font-weight: bold;
		background: #2e65c2;
		text-decoration: none;
	}
</style>
{% endblock %}
{% block content %}
<div class="content">
	<a href="listing_search.html"><h1>조건별 검색</h1></a>
	<form action="" method="get">
		<div class="col">
			<table BORDER="1">
				<tr>
					<th>통신망</th>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn">
								<input type="checkbox" name="mobile_carrier" value="LG">LGU+
							</label>
							<label class="btn">
								<input type="checkbox" name="mobile_carrier" value="SK">SKT
							</label>
							<label class="btn">
								<input type="checkbox" name="mobile_carrier" value="KT">KT
							</label>
							중복선택이 가능합니다.
						</div>
					</td>
				</tr>
				<tr>
					<th>상품구분</th>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn">
								<input type="radio" name="category" value="usim">usim
							</label>
							<label class="btn">
								<input type="radio" name="category" value="tablet">tablet
							</label>
							<label class="btn">
								<input type="radio" name="category" value="phone">phone
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>통신방식</th>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn">
								<input type="checkbox" name="data_speed" value="LTE">LTE
							</label>
							<label class="btn">
								<input type="checkbox" name="data_speed" value="3G">3G
							</label>
							<label class="btn">
								<input type="checkbox" name="data_speed" value="5G">5G
							</label>
							중복선택이 가능합니다.
						</div>
					</td>
				</tr>
				<tr>
					<th>음성량</th>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn">
								<input type="radio" name="call" value="0">매우 적음
								<span>0~50분</span>
							</label>
							<label class="btn">
								<input type="radio" name="call" value="1">적음
								<span>50~100분</span>
							</label>
							<label class="btn">
								<input type="radio" name="call" value="2">보통
								<span>100~250분</span>
							</label>
							<label class="btn">
								<input type="radio" name="call" value="3">많음
								<span>250분~</span>
							</label>
							<label class="btn">
								<input type="radio" name="call" value="4">무제한
								<span>망내/완전 무제한</span>
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>문자량</th>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn">
								<input type="radio" name="massage" value="0">매우 적음
								<span>0~50건</span>
							</label>
							<label class="btn">
								<input type="radio" name="message" value="1">적음
								<span>50~100건</span>
							</label>
							<label class="btn">
								<input type="radio" name="message" value="2">보통
								<span>100~200건</span>
							</label>
							<label class="btn">
								<input type="radio" name="message" value="3">많음
								<span>200건~</span>
							</label>
							<label class="btn">
								<input type="radio" name="message" value="4">무제한
								<span>무제한</span>
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>데이터량</th>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn">
								<input type="radio" name="data1" value="0">매우 적음
								<span>0~100MB</span>
							</label>
							<label class="btn">
								<input type="radio" name="data1" value="1">적음
								<span>100~1000MB</span>
							</label>
							<label class="btn">
								<input type="radio" name="data1" value="2">보통
								<span>1000~5000MB</span>
							</label>
							<label class="btn">
								<input type="radio" name="data1" value="3">많음
								<span>5000MB~</span>
							</label>
							<label class="btn">
								<input type="radio" name="data1" value="4">무제한
								<span>무제한</span>
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<input type="reset" value="검색조건 초기화">
						<input class="button" type="submit" value="검색">
					</td>
				</tr>
			</table>
		</div>
    </form>
	<p>총 {{count}}건의 검색 결과가 있습니다.</p>
	<hr/>
	<table>
    {% for plan in plans %}
        <tr>
            <th>{{plan.calling_plan}}</th>
        </tr>
        <tr>
            <td>데이터 {{plan.data_category}}MB/{{plan.data_unit}}({{plan.data2}})</td>
            <td>음성   {{plan.call}}{{plan.call_unit}}</td>
            <td>문자   {{plan.message}}{{plan.message_unit}}</td>
        </tr>
        <tr>
            <td>월 {{plan.pay}} 원</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}